@import "./variable";

#about-us {
  .banner {
    height: 860px;
    background-image: url("../image/Stock Images/Fynity - Website Imagery/About Us/Fynity - About_Us_Hero_Banner_Flip.jpg");
    position: relative;
    &::before {
      content: "";
      width: 83%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 30%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      .subtitle-base {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .context-base {
        max-width: 420px;
        margin-bottom: 30px;
      }
    }
  }
  .description {
    .container {
      padding: 0 150px 140px;
      position: relative;
      &::before {
        content: "";
        width: 320px;
        height: 122px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        left: -270px;
        bottom: 230px;
      }
      &::after {
        content: "";
        width: 203px;
        height: 268px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        right: -280px;
        top: 240px;
      }
    }
    .bluebox {
      background: $space-cadet-blue;
      border-radius: 0 0 25px 25px;
      padding: 110px 240px 120px 150px;
      position: relative;
      &::before {
        content: "";
        width: 200px;
        height: 448px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        left: -230px;
        bottom: 120px;
      }
      &::after {
        content: "";
        width: 414px;
        height: 673px;
        background: url("../image/Stock Images/Fynity - Website Imagery/About Us/Fynity - About_Us_Image_1.jpg")
          center / cover;
        border-radius: 42px 0 0 42px;
        position: absolute;
        right: -270px;
        bottom: -40px;
      }
      .subtitle-base {
        margin-bottom: 70px;
      }
      .context-base {
        margin-bottom: 50px;
      }
    }
  }

  .drives-us {
    padding: 180px 0 250px;
    background: $charcoal-blue;
    .container {
      display: flex;
      position: relative;
      &::before {
        content: "";
        width: 520px;
        height: 220px;
        background: $moonstone-blue;
        border-radius: 42px;
        position: absolute;
        top: 44%;
        left: calc(100% + 190px);
        z-index: 1;
      }
      &::after {
        content: "";
        width: 126px;
        height: 425px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 55%;
        left: calc(100% + 140px);
      }
      .left {
        height: fit-content;
        padding: 110px 100px 0 45px;
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          width: 503px;
          height: 868px;
          background: $maize-yellow;
          border-radius: 42px;
          position: absolute;
          left: -20px;
          bottom: 120px;
        }
        &::after {
          content: "";
          width: 282px;
          height: 122px;
          background: $moonstone-blue;
          border-radius: 25px;
          position: absolute;
          left: -20px;
          bottom: -60px;
          z-index: -1;
        }
        .img {
          width: 395px;
          height: 650px;
          background: url("../image/Stock Images/Fynity - Website Imagery/About Us/Fynity - About_Us_Image_2_LOW_RES.png")
            center / cover;
          border-radius: 0 42px 42px 0;
          position: relative;
        }
      }
      .right {
        flex: 1;
        padding-right: 65px;
        h3 {
          margin-bottom: 20px;
        }
        h4 {
          color: $maize-yellow;
          margin-bottom: 50px;
        }
        .wrapper {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;
          p {
            width: calc(50% - 22px);
          }
        }
      }
    }
  }

  .working-with {
    .container {
      padding: 68px 65px 133px 180px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &::before {
        content: "";
        width: 407px;
        height: 189px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 51%;
        left: -290px;
      }
      &::after {
        content: "";
        width: 124px;
        height: 339px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        right: -230px;
        transform: translateY(-50%);
      }
    }
    .left {
      max-width: 445px;
      .title-base {
        margin-bottom: 20px;
      }
      .subtitle-base {
        max-width: 400px;
        margin-bottom: 50px;
      }
      .context-base {
        margin-bottom: 50px;
      }
    }
    .right {
      width: 394px;
      position: relative;
      &::before {
        content: "";
        width: 459px;
        height: 189px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 50%;
        right: -320px;
        z-index: -1;
      }
      img {
        width: 394px;
        height: 307px;
        border-radius: 25px;
        object-fit: cover;
        &:first-child {
          transform: scaleX(-1);
          margin-bottom: 65px;
        }
      }
    }
  }

  .our-history {
    padding: 130px 0 230px;
    text-align: center;
    .container {
      position: relative;
      &::before {
        content: '';
        width: 521px;
        height: 189px;
        background: $moonstone-blue;
        border-radius: 42px;
        position: absolute;
        top: 100px;
        right: -700px;
      }
      &::after {
        content: '';
        width: 521px;
        height: 425px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 220px;
        right: -650px;
        z-index: -1;
      }
    }
    .title {
      margin-bottom: 40px;
      h3 {
        margin-bottom: 10px;
      }
    }
    .slider {
      position: relative;
      &::before {
        content: '';
        width: calc(100% - 140px);
        height: 3px;
        background: $charcoal-blue;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
      }
      .slider-nav {
        width: 740px;
        margin: 0 auto 85px;
        &::before {
          content: '';
          width: 38px;
          height: 38px;
          border: 3px solid $moonstone-blue;
          background: $white;
          border: 3px solid #47A8BD;
          position: absolute;
          border-radius: 50px;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          box-sizing: border-box;
        }
        &::after {
          content: '';
          width: 38px;
          height: 38px;
          border: 3px solid $moonstone-blue;
          background: $white;
          border: 3px solid #47A8BD;
          position: absolute;
          border-radius: 50px;
          top: 50%;
          right: -20px;
          transform: translateY(-50%);
          box-sizing: border-box;
        }
        .slick-slide {
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.slick-current {
            .circle {
              width: 200px;
              height: 200px;
              font-size: 48px;
              color: $white;
              background: $moonstone-blue;
              @include light;
            }
          }
          .item {
            display: flex !important;
            justify-content: center;
            align-items: center;
          }
          .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 82px;
            border: 3px solid $moonstone-blue;
            background: $white;
            border: 3px solid $moonstone-blue;
            border-radius: 100px;
            transition: .3s ease-in-out;
          }
        }
        .slick-next,
        .slick-prev {
          right: -180px;
        }
        .slick-prev {
          transform: translateY(-50%) scaleX(-1);
          left: -180px;
        }
      }
      .slider-for {
        max-width: 620px;
        margin: auto;
        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 1270px) {
  #about-us {
    .description {
      .container {
        padding: 0 100px 140px;
      }
      .bluebox {
        padding: 70px 160px 100px 90px;
      }
    }
    .drives-us {
      padding-bottom: 200px;
      .container {
        .left {
          padding-left: 20px;
          padding-right: 60px;
          &::before {
            width: 420px;
          }
          .img {
            width: 350px;
            height: 560px;
          }
        }
        .right {
          padding-right: 20px;
          h4 {
            font-size: 34px;
          }
          .wrapper {
            flex-direction: column;
            p {
              width: 100%;
            }
          }
        }
      }
    }
    .working-with {
      .container {
        padding: 58px 25px 90px 60px;
        &::before {
          z-index: -1;
        }
      }
    }
    .our-history {
      .slider {
        &::before {
          width: 900px;
        }
        .slider-nav {
          width: 670px;
          &::before {
            left: -10px;
          }
          &::after {
            right: -10px;
          }
          .slick-prev {
            left: -120px;
          }
          .slick-next {
            right: -120px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #about-us {
    .banner {
      .container .left {
        width: 70%;
      }
    }
    .description {
      .container {
        padding: 0 0 100px;
      }
      .bluebox {
        padding: 50px 150px 100px 50px;
      }
    }
    .drives-us .container {
      flex-direction: column;
      .left {
        margin-bottom: 100px;
      }
      .right {
        padding-left: 30px;
      }
    }
    .working-with .container {
      padding-left: 0;
      padding-right: 0;
      .left {
        padding-right: 20px;
      }
    }
    .our-history {
      .slider {
        &::before {
          width: 760px;
        }
        .slider-nav {
          &::before {
            left: 20px;
          }
          &::after {
            right: 20px;
          }
          .slick-prev {
            left: -50px;
          }
          .slick-next {
            right: -50px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #about-us {
    .banner {
      height: 100vh;
      padding-bottom: 0;
      padding-top: 70px;
      justify-content: center;
      .container {
        .left {
          width: 100%;
        }
        .subtitle-base {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .context-base {
          margin-bottom: 20px;
        }
      }
    }
    .description {
      background: $space-cadet-blue;
      .container {
        padding: 20px 0 60px;
        &::before {
          content: none;
        }
      }
      .bluebox {
        padding: 0;
        &::before,
        &::after {
          content: none;
        }
        .subtitle-base {
          margin-bottom: 30px;
        }
        .context-base {
          margin-bottom: 30px;
        }
      }
    }
    .drives-us {
      padding: 0 0 45px;
      .container {
        .left {
          padding: 180px 0 0;
          margin: 0 auto 80px;
          &::before {
            width: 310px;
            height: 391px;
            top: 80px;
            left: -30px;
            border-radius: 15px;
          }
          &::after {
            width: 121px;
            height: 52px;
            bottom: -25px;
            left: -30px;
            border-radius: 15px;
          }
          .img {
            width: 252px;
            height: 344px;
            border-radius: 15px;
          }
        }
        .right {
          padding: 0;
          h4 {
            margin-bottom: 30px;
          }
        }
      }
    }
    .working-with {
      .container {
        padding: 32px 0 50px;
        flex-direction: column;
        &::before,
        &::after {
          content: none;
        }
        .left {
          padding: 0;
          margin: 0 0 48px;
          .img {
            display: block;
            width: 293px;
            height: 229px;
            transform: scaleX(-1);
            border-radius: 15px;
            object-fit: cover;
            margin: 0 auto 48px;
          }
          .title-base {
            margin-bottom: 20px;
          }
          .subtitle-base {
            margin-bottom: 30px;
          }
          .context-base {
            margin-bottom: 30px;
          }
        }
        .right {
          width: auto;
          &::before {
            content: none;
          }
          img {
            width: 293px;
            height: 229px;
            border-radius: 15px;
          }
        }
      }
    }
    .our-history {
      padding: 75px 0 90px;
      .slider {
        &::before {
          width: 310px;
          top: 36px;
        }
        .slider-nav {
          width: 225px;
          margin-bottom: 55px;
          &::before {
            width: 14px;
            height: 14px;
            left: -30px;
          }
          &::after {
            width: 14px;
            height: 14px;
            right: -30px;
          }
          .slick-list {
            padding: 0 !important;
          }
          .slick-slide {
            height: 75px;
            &.slick-current {
              .circle {
                font-size: 26px;
                width: 75px;
                height: 75px;
              }
            }
            .item {
              height: 75px;
            }
            .circle {
              width: 31px;
              height: 31px;
              font-size: 1px;
              color: $white;
            }
          }
          .slick-next::before, .slick-prev::before {
            border-color: $black;
          }
          .slick-prev {
            left: -80px;
          }
          .slick-next {
            right: -80px;
          }
        }
        .slider-for {
          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
