@import "./variable";

#blog-post {
  .banner {
    height: 560px;
    background-image: url("../image/Stock Images/Fynity - Website Imagery/Blog Post 2/Fynity - Blog_Post_2_Hero_Banner_LOW_RES.jpeg");
    position: relative;
    &::before {
      content: "";
      width: 83%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 30%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      .subtitle-base {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .innovative {
    padding-top: 128px;
    padding-bottom: 230px;
    .container {
      display: flex;
      position: relative;
      &::before {
        content: "";
        width: 521px;
        height: 189px;
        background: $moonstone-blue;
        border-radius: 42px;
        position: absolute;
        top: 36px;
        right: -700px;
      }
      &::after {
        content: "";
        width: 521px;
        height: 425px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 160px;
        right: -640px;
        z-index: -1;
      }
    }
    .left {
      width: 50%;
      position: relative;
      img {
        width: 684px;
        height: 893px;
        object-fit: cover;
        transform: scaleX(-1);
        position: absolute;
        top: 0;
        right: 156px;
      }
    }
    .right {
      width: 50%;
      max-width: 507px;
      padding-top: 70px;
      .subtitle-base {
        margin-bottom: 70px;
      }
    }
  }
  .what-to-expect {
    padding-top: 70px;
    padding-bottom: 150px;
    .container {
      display: flex;
    }
    .left {
      width: 460px;
      margin-left: 180px;
      margin-right: 140px;
      position: relative;
      &::before {
        content: "";
        width: 407px;
        height: 189px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        bottom: 36%;
        left: -480px;
      }
      .title-base {
        padding-top: 65px;
        margin-bottom: 30px;
      }
      .subtitle-base {
        margin-bottom: 30px;
      }
      .context-base {
        margin-bottom: 30px;
      }
      ul {
        padding-left: 30px;
        li {
          font-size: 20px;
          line-height: 32px;
          color: $charcoal-blue;
          @include book;
          margin-bottom: 30px;
          position: relative;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            background: $moonstone-blue;
            border-radius: 4px;
            position: absolute;
            top: 10px;
            left: -30px;
          }
          b {
            @include bold;
          }
        }
      }
    }
    .right {
      width: calc(100% - 780px);
      position: relative;
      &::before {
        content: "";
        width: 459px;
        height: 189px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        top: 38%;
        left: 53%;
        z-index: -1;
      }
      &::after {
        content: "";
        width: 124px;
        height: 339px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        top: 27%;
        right: -230px;
        z-index: -1;
      }
      img {
        border-radius: 15px;
        object-fit: cover;
      }
      .img-1 {
        width: 550px;
        height: 550px;
        margin-bottom: 60px;
      }
      .img-2 {
        width: 394px;
        height: 307px;
      }
    }
  }
}

@media (max-width: 1270px) {
  #blog-post .what-to-expect {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  #blog-post {
    .banner {
      .container .left {
        width: 70%;
      }
    }
    .innovative .left img {
      right: 50px;
    }
    .what-to-expect .left {
      margin-left: 0;
      margin-right: 50px;
    }
  }
}

@media (max-width: 768px) {
  #blog-post {
    .banner {
      height: 100vh;
      padding-bottom: 0;
      padding-top: 70px;
      justify-content: center;
      .container {
        .left {
          width: 100%;
        }
        .subtitle-base {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .context-base {
          margin-bottom: 20px;
        }
      }
    }
    .innovative {
      padding: 72px 0;
      .container {
        flex-direction: column-reverse;
      }
      .left {
        width: 100%;
        text-align: center;
        img {
          width: 331px;
          height: 487px;
          position: relative;
          top: 0;
          left: 0;
          border-radius: 42px;
        }
      }
      .right {
        width: 100%;
        padding: 0;
        margin-bottom: 55px;
        .subtitle-base {
          margin-bottom: 50px;
        }
      }
    }
    .what-to-expect {
      padding: 50px 0 60px;
      .container {
        flex-direction: column;
      }
      .left {
        width: 100%;
        &::before {
          content: none;
        }
        img {
          width: 293px;
          height: 229px;
          border-radius: 10px;
          object-fit: cover;
          margin: 0 auto;
        }
        .title-base {
          padding-top: 35px;
          margin-bottom: 20px;
        }
        .subtitle-base {
          margin-bottom: 20px;
        }
        .context-base {
          margin-bottom: 20px;
        }
        ul {
          li {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
      }
      .right {
        width: 100%;
        text-align: center;
        &::before,
        &::after {
          content: none;
        }
        .img-1 {
          width: 229px;
          height: 229px;
          margin: 0;
        }
      }
    }
  }
}
