// Start: Animation Scroll Down
.visible-bottom-to-top,
.visible-top-to-bottom,
.visible-left-to-right,
.visible-right-to-left {
  visibility: hidden;
}

.slide-bottom-to-top {
  animation-name: slideBottomToTop;
  -webkit-animation-name: slideBottomToTop;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-top-to-bottom {
  animation-name: slideTopToBottom;
  -webkit-animation-name: slideTopToBottom;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-left-to-right {
  animation-name: slideLeftToRight;
  -webkit-animation-name: slideLeftToRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slide-right-to-left {
  animation-name: slideRightToLeft;
  -webkit-animation-name: slideRightToLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

@keyframes slideTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes slideRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(70%);
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

// End: Animation Scroll Down
// Start: Collapse
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  &:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  &.active,
  &:hover {
    background-color: #555;
  }
  &.active:after {
    content: "\2212";
  }
}

.content-collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
// End: Collapse

// Start: Common
@import "./variable";
.container {
  width: 90%;
  max-width: 1240px;
  margin: auto;
}
.title-base {
  font-size: 22px;
  line-height: 1.5;
  color: $white;
  @include semibold;
}
.subtitle-base {
  font-size: 48px;
  line-height: 1.125;
  color: $maize-yellow;
  @include light;
}
.context-base {
  font-size: 20px;
  line-height: 1.6;
  color: $white;
}
.btn-yellow {
  min-width: 150px;
  font-size: 18px;
  color: $maize-yellow;
  @include semibold;
  line-height: 34px;
  padding: 10px 24px;
  background: none;
  border: 1px solid $maize-yellow;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    width: 0;
    height: 100%;
    background: $maize-yellow;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  &:hover {
    color: $black;
    &::before {
      width: 100%;
      opacity: 1;
    }
    &.blue {
      color: $black;
      &::before {
        background: $moonstone-blue;
      }
    }
  }
  &.arrow {
    width: 253px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      width: 50px;
      height: 1px;
      background: $maize-yellow;
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        width: 72px;
        background: $black;
      }
      .icon-right {
        color: $black;
      }
    }
    .icon-right {
      color: $maize-yellow;
      font-size: 15px !important;
    }
  }
  &.blue {
    color: $moonstone-blue;
    border-color: $moonstone-blue;
    &::after {
      background: $moonstone-blue;
    }
    &:hover {
      color: $white;
      &::after {
        background: $white;
      }
      .icon-right {
        color: $white;
      }
    }
    .icon-right {
      color: $moonstone-blue;
    }
  }
  &.bg-yellow {
    background: $maize-yellow;
    color: $black;
    &::after {
      background: $black;
    }
    .icon-right {
      color: $black;
    }
  }
}
.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-yellow {
  color: $maize-yellow;
}
.c-blue {
  color: $moonstone-blue;
}
.c-blue-bold {
  color: $charcoal-blue;
}
.slick-next,
.slick-prev {
  width: 56px;
  height: 56px;
  font-size: 0;
  background: $moonstone-blue;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &::before {
    content: "";
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: calc(50% - 4px);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.slick-prev {
  right: auto;
}
.SP {
  display: none !important;
}
.banner {
  height: 720px;
  background: url("") center / cover;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .container {
    .left {
      width: 50%;
      .logo {
        width: 170px;
        height: 102px;
        margin-bottom: 25px;
      }
    }
  }
}

.talk-to-us {
  padding: 140px 0 120px;
  background: $space-cadet-blue;
  margin-bottom: 108px;
  .container {
    display: flex;
    position: relative;
    &::before {
      content: "";
      width: 494px;
      height: 77px;
      background: $maize-yellow;
      border-radius: 25px;
      position: absolute;
      top: -195px;
      right: 0;
    }
    &::after {
      content: "";
      width: 340px;
      height: 147px;
      background: $maize-yellow;
      border-radius: 25px;
      position: absolute;
      bottom: -170px;
      right: 60px;
    }
    .left {
      padding: 0 160px;
      .title-base {
        color: $maize-yellow;
        margin-bottom: 20px;
      }
      .subtitle-base {
        color: $white;
        max-width: 300px;
        margin-bottom: 50px;
      }
    }
    .right {
      max-width: 440px;
      .context-base {
        font-size: 24px;
        line-height: 34px;
      }
      .btn-yellow {
        display: none;
      }
    }
  }
}

.our-clients {
  padding: 92px 0 76px;
  text-align: center;
  background: $charcoal-blue;
  .container {
    position: relative;
    &::before {
      content: '';
      width: 984px;
      height: 190px;
      background: $moonstone-blue;
      border-radius: 42px;
      position: absolute;
      top: -150px;
      left: 0;
      z-index: -1;
    }
  }
  .title-base {
    margin-bottom: 20px;
  }
  .subtitle-base {
    margin-bottom: 50px;
  }
  .wrapper {
    width: calc(100vw + 50px);
    overflow: auto;
    margin-left: -25px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .items {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    img {
      margin: 0 35px;
      &:nth-child(3n + 2) {
        margin-bottom: 20px;
      }
    }
  }
}

.insights {
  padding: 97px 0 145px;
  background: $charcoal-blue;
  .content {
    padding-left: 160px;
    .title-base {
      margin-bottom: 20px;
    }
    .subtitle-base {
      max-width: 668px;
      margin-bottom: 80px;
    }
  }
  .slider-insights {
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      width: 115px;
      height: 202px;
      background: $maize-yellow;
      border-radius: 25px;
      position: absolute;
      top: -70px;
      left: 40px;
    }
    &::after {
      content: "";
      width: 287px;
      height: 215px;
      background: $maize-yellow;
      border-radius: 25px;
      position: absolute;
      top: -25px;
      right: 67px;
      z-index: -1;
    }
    .item {
      display: block !important;
      width: 395px !important;
      margin: auto;
      position: relative;
      &::before {
        content: "";
        width: 0;
        height: 100%;
        background: $black;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        &::before {
          width: 100%;
        }
        h3,
        h4 {
          color: $white;
        }
        i {
          color: $white;
          left: 15px;
        }
      }
      img {
        width: 100%;
        height: 307px;
        border-radius: 10px;
        object-fit: cover;
      }
      h3 {
        font-size: 20px;
        line-height: 24px;
        padding: 40px 40px 12px;
        @include extrabold;
        color: $maize-yellow;
        position: relative;
        transition: 0.3s ease-in-out;
      }
      i {
        @include extrabold;
        position: relative;
        left: 5px;
        transition: 0.3s ease-in-out;
      }
      h4 {
        font-size: 33px;
        line-height: 34px;
        color: $white;
        @include light;
        padding: 0 40px 50px;
        position: relative;
        transition: 0.3s ease-in-out;
      }
    }
    .slick-next,
    .slick-prev {
      right: -85px;
    }
    .slick-prev {
      transform: translateY(-50%) scaleX(-1);
      left: -85px;
    }
  }
}
.breadcrumb {
  position: absolute;
  width: 100%;
  bottom: 0;
  .container {
    padding: 15px 25px;
  }
  li {
    display: inline;
    @include semibold;
    font-size: 20px;
    line-height: 1.5;
    color: $white;
    &+li:before {
      padding: 8px;
      color: $white;
      content: "/\00a0";
    }
    a {
      color: $white;
      @include book;
      text-decoration: none;
    }
  }
}

// Responsive
@media (max-width: 1270px) {
  .container {
    max-width: 960px;
  }
  .talk-to-us .container .left {
    padding: 0 30px;
  }
  .insights .slider-insights .item {
    width: 275px !important;
    img {
      height: 250px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .our-clients .container::before {
    content: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 50px);
  }
  .title-base {
    font-size: 18px;
  }
  .subtitle-base {
    font-size: 33px;
  }
  .context-base {
    font-size: 16px;
  }
  .btn-yellow {
    font-size: 16px;
    line-height: 28px;
    padding: 10px 16px;
    &.arrow {
      width: 214px;
      &::after {
        width: 35px;
        right: 17px;
      }
      &:hover {
        &::after {
          width: 57px;
        }
      }
    }
  }
  .slick-next,
  .slick-prev {
    background: none;
  }
  .PC {
    display: none !important;
  }
  .SP {
    display: block !important;
  }
  .banner {
    padding: 0 0 100px;
    height: 100vh;
    .container {
      margin: 0 auto;
      .left {
        width: 100%;
        .subtitle-base {
          font-size: 40px;
        }
      }
    }
  }
  .talk-to-us {
    padding: 73px 0 80px;
    margin-bottom: 0;
    .container {
      flex-direction: column;
      &::before,
      &::after {
        content: none;
      }
      .left {
        padding: 0;
        .subtitle-base {
          margin-bottom: 35px;
        }
        .context-base {
          margin-bottom: 40px;
        }
        .btn-yellow {
          display: none;
        }
      }
      .right {
        .context-base {
          font-size: 16px;
          line-height: 20px;
          @include regular;
          margin-bottom: 50px;
        }
        .btn-yellow {
          display: flex;
          text-align: left;
        }
      }
    }
  }
  .our-clients {
    padding: 73px 0 60px;
    .subtitle-base {
      max-width: 200px;
      margin: 0 auto 20px;
    }
    .wrapper {
      width: calc(100% + 50px);
      overflow: auto;
      margin-left: -25px;
    }
    .items {
      width: 1280px;
    }
  }
  .insights {
    padding: 60px 0 90px;
    .content {
      padding-left: 0;
      .subtitle-base {
        margin-bottom: 45px;
      }
    }
    .slider-insights {
      max-width: 330px;
      margin: auto;
      &::before,
      &::after {
        content: none;
      }
      .item {
        width: 310px !important;
        &:hover {
          &::before {
            content: none;
          }
          h3 {
            color: $maize-yellow;
            i {
              color: $maize-yellow;
            }
          }
        }
        h3 {
          font-size: 16px;
          padding: 35px 30px 0;
        }
        h4 {
          font-size: 26px;
          line-height: 30px;
          padding: 18px 30px 0;
        }
      }
      .slick-next {
        right: -32px;
      }
      .slick-prev {
        left: -37px;
      }
    }
  }
  .breadcrumb {
    display: none;
  }
}
// End: Common
