@import "./variable";

#key-hire {
  .banner {
    height: 450px;
    background-image: url("../image/Stock Images/Fynity - Website Imagery/Key Hire/Fynity - Key_Hire_Homepage_Banner.jpg");
    background-position-y: 10%;
    padding: 0 0 50px;
    align-items: flex-end;
    position: relative;
    &::before {
      content: "";
      width: 83%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 30%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9999999999999999) 0%,
        rgba(84, 84, 84, 0) 100%
      );
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      .left {
        text-align: center;
        margin: auto;
      }
      .subtitle-base {
        font-size: 63px;
        @include bold;
        color: $white;
        margin: 20px 0;
      }
      .context-base {
        @include extrabold;
        color: $maize-yellow;
        margin-bottom: 30px;
      }
    }
  }
  .if-you {
    margin: 50px 0;
    background: $charcoal-blue;
    .container {
      display: flex;
      padding: 70px 0 50px;
      position: relative;
      &::before {
        content: "";
        width: 202px;
        height: 342px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        top: -20px;
        left: -140px;
      }
      &::after {
        content: "";
        width: 521px;
        height: 189px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        right: -600px;
        bottom: -50px;
      }
      .left {
        max-width: 365px;
        margin: auto;
        position: relative;
        &::before {
          content: "";
          width: 160px;
          height: 70px;
          background: $maize-yellow;
          border-radius: 12px;
          position: absolute;
          top: -120px;
          left: -295px;
        }
        .subtitle-base {
          margin-bottom: 50px;
        }
      }
      .right {
        img {
          width: 482px;
          height: 603px;
          border-radius: 0 42px 42px 0;
          object-fit: cover;
          object-position: right;
        }
      }
    }
  }
  .whitebox {
    padding: 160px 0 140px;
    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::before {
        content: "";
        width: 282px;
        height: 122px;
        background: $maize-yellow;
        border-radius: 25px;
        position: absolute;
        right: -30px;
        bottom: -210px;
      }
      .item {
        width: calc(33% - 8px);
        text-align: center;
        padding: 30px 35px 40px;
        background: $space-cadet-blue;
        border-radius: 12px;
        .wrap-img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 130px;
        }
        h3 {
          margin: 35px 0 30px;
        }
      }
    }
  }
  .key-features {
    padding: 150px 0 200px;
    background: $charcoal-blue;
    margin-bottom: 95px;
    position: relative;
    .container {
      max-width: 840px;
      position: relative;
      &::before {
        content: "";
        width: 124px;
        height: 339px;
        background: $moonstone-blue;
        border-radius: 25px;
        position: absolute;
        top: -70px;
        left: -480px;
      }
      &::after {
        content: "";
        width: 199px;
        height: 448px;
        background: $maize-yellow;
        border-radius: 42px;
        position: absolute;
        bottom: -250px;
        right: -540px;
      }
    }
    .subtitle-base {
      margin-bottom: 40px;
    }
    .title-base {
      @include regular;
      margin-bottom: 30px;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      ul {
        width: calc(50% - 45px);
        li {
          padding-left: 30px;
          position: relative;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            background: $maize-yellow;
            border-radius: 2px;
            position: absolute;
            top: 11px;
            left: 0;
          }
        }
      }
    }
  }
  .main-benefits {
    padding: 100px 0 130px;
    background: $space-cadet-blue;
    position: relative;
    &::before {
      content: "";
      width: 307px;
      height: 85px;
      background: $moonstone-blue;
      border-radius: 25px;
      position: absolute;
      top: -50px;
      right: 85px;
      z-index: -1;
    }
    .container {
      padding: 0 65px;
    }
    .subtitle-base {
      text-align: center;
      margin-bottom: 40px;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      .items {
        width: calc(50% - 20px);
        .item {
          display: flex;
          align-items: center;
          padding: 35px 0;
          border-bottom: 2px solid $white;
          &:last-child {
            border-bottom: none;
          }
          .wrap-img {
            width: 190px;
          }
          .title-base {
            flex: 1;
          }
        }
      }
    }
  }
  .client-say {
    padding: 100px 138px 150px;
    .container {
      padding: 0 160px;
      position: relative;
      &::before {
        content: "";
        width: 210px;
        height: 77px;
        background: $maize-yellow;
        border-radius: 25px;
        position: absolute;
        top: 100px;
        left: -280px;
      }
      &::after {
        content: "";
        width: 229px;
        height: 405px;
        background: $moonstone-blue;
        border-radius: 42px;
        position: absolute;
        top: 230px;
        left: -400px;
      }
    }
    .slider-say {
      img {
        width: 132px;
        margin-bottom: 80px;
      }
      .subtitle-base {
        max-width: 620px;
        margin-bottom: 50px;
      }
      .c-black {
        @include extrabold;
      }
      .c-blue-bold {
        color: $space-cadet-blue;
        @include regular;
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 65px;
        li {
          width: 22px;
          height: 22px;
          border: 2px solid $moonstone-blue;
          border-radius: 15px;
          margin: 0 4px;
          &.slick-active {
            background: $moonstone-blue;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
  .talk-to-us {
    margin-bottom: 50px;
    .container .left {
      width: 100%;
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subtitle-base {
        max-width: none;
      }
      .btn-yellow {
        width: 320px;
      }
    }
  }
}

@media (max-width: 1270px) {
  #key-hire {
    .if-you .container::before {
      left: -280px;
    }
    .client-say .container {
      padding: 0 40px;
    }
  }
}

@media (max-width: 992px) {
  #key-hire {
    .banner {
      .container .left {
        width: 70%;
      }
    }
    .if-you {
      .left {
        min-width: 365px;
        padding-right: 50px;
      }
    }
    .whitebox .container {
      flex-direction: column;
      align-items: center;
      .item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 15px;
      }
    }
    .main-benefits {
      .container {
        padding: 0;
      }
      .wrapper .items .item .wrap-img {
        width: 130px;
      }
    }
  }
}

@media (max-width: 768px) {
  #key-hire {
    .banner {
      height: 100vh;
      padding-bottom: 0;
      padding-top: 70px;
      justify-content: center;
      .container {
        .left {
          width: 100%;
        }
        .subtitle-base {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .context-base {
          margin-bottom: 20px;
        }
      }
    }
    .if-you {
      padding: 70px 0;
      margin: 0;
      .container {
        flex-direction: column-reverse;
        padding: 0;
        &::before {
          content: none;
        }
        .left {
          padding-right: 0;
          min-width: auto;
          .subtitle-base {
            margin-bottom: 20px;
          }
        }
        .right {
          margin-bottom: 30px;
          img {
            display: block;
            width: 100%;
            max-width: 350px;
            height: 250px;
            border-radius: 12px;
            margin: auto;
          }
        }
      }
    }
    .whitebox {
      padding: 80px 0;
    }
    .key-features {
      padding: 70px 0;
      .wrapper {
        flex-direction: column;
        ul {
          width: 100%;
        }
      }
    }
    .main-benefits {
      padding: 70px 0;
      .wrapper {
        flex-direction: column;
        .items {
          width: 100%;
          &:first-child {
            .item:last-child {
              border-bottom: 2px solid $white;
            }
          }
        }
      }
    }
    .client-say {
      padding: 50px 0 75px;
      .container {
        padding: 0;
      }
      .slider-say {
        .item {
          img {
            margin-bottom: 25px;
          }
          .subtitle-base {
            margin-bottom: 30px;
          }
        }
        .slick-dots {
          li {
            width: 14px;
            height: 14px;
            margin: 0 2px;
          }
        }
      }
    }
    .talk-to-us .container .left {
      .subtitle-base {
        max-width: 320px;
      }
      .btn-yellow {
        display: flex;
      }
    }
  }
}
