// Color
$maize-yellow: #f5e663;
$black: #000000;
$white: #ffffff;
$blue: #47a8bd;
$charcoal-blue: #1d394b;
$moonstone-blue: #47a8bd;
$space-cadet-blue: #1d244b;

// Font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$book: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Font scope
@mixin thin {
  font-family: "graphie-thin", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin extralight {
  font-family: "graphie-extralight", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin light {
  font-family: "graphie-light", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin book {
  font-family: "graphie-book", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin regular {
  font-family: "graphie-regular", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin semibold {
  font-family: "graphie-semibold", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin bold {
  font-family: "graphie-bold", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin extrabold {
  font-family: "graphie-extrabold", sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}
