@import "../helpers/font";
@import "../helpers/reset";
@import "../helpers/variable";
@import "../helpers/mixin";
@import "../helpers/common";
@import "../pages/layout/header";
@import "../pages/layout/footer";
@import "../pages/layout/homepage";
html,
body {
  font-family: graphie, sans-serif;
  font-style: normal;
  font-weight: 400;
}

// sass --watch scss/pages/index.scss:css/index.css
